* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
}



.header nav .menu-logo{
    font-size: 25px;
    display: none;
}

.dropdown .dropdown-content{
  display: none;
  left: 0;
  position: fixed;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px 20vw;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
}
@media (width <= 1350px) {
  .dropdown .dropdown-content{
    padding: 20px 20px;
  }
}

.dropdown a{
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content{
  display: flex;
  transition: 0.5s ease;
}

.dropdown-content .top{
  margin-block: 20px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.dropdown-content a{
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.dropdown-content .content{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.dropdown-content .content div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown-content a:hover{
  text-decoration: underline;
}

.header nav .menu-logo {
  font-size: 25px;
  display: none;
}

@media (width <= 1178px) {
    .header nav ul{
        display: none;
    }

    .header nav .menu-logo{
        display: flex;
        gap: 30px;
    }
    .header nav .menu-logo {
    display: flex;
    gap: 30px;
    }
    .header{
        width: 100%;
        padding-inline: 20px;
    }
}

.logo img {
  width: 130px;
}

.header-right .logo {
  display: none;
}

@media (width <= 1178px) {
    .header-right .logo{
        display: none;
    }
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  opacity: 0.5;
}

.search i {
  font-size: 25px;
}

.search .icon {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.search .icon:hover {
  background-color: rgb(235, 235, 235);
}

.search i:hover {
  background-color: rgb(235, 235, 235);
}

.header-right {
  display: flex;
  /* gap: 30px; */
  align-items: center;
}
.account{
  display: flex;
}

.account button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.account button:hover {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  transition: 0.4s;
}
